<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Giuseppe Zileni, giuseppe.zileni@gmail.com">
    <meta name="generator" content="Hugo 0.80.0">
    <title><%= title %></title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><%= title %></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="https://gzileni.github.io/sentinelAPI/">Documentation</a>
          <a class="nav-link" href="https://gzileni.github.io/sentinelAPI/demo">DEMO</a>
          <a class="nav-link" href="mailto:giuseppe.zileni@gmail.com">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading"><%= title %></h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="https://gzileni.github.io/sentinelAPI/" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p><a href="https://twitter.com/gzileni?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gzileni</a></p>
      </div>
    </footer>
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="/js/bootstrap.bundle.min" charset="utf-8"></script>
    
  </body>
</html>
